<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <script defer src="/your-path-to-fontawesome/js/v4-shims.js"></script>
    <!-- =============== CSS =============== -->
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"
    ></script>
    <title>Senior Project</title>

    <!-- =============== FAVICON =============== -->

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="images\icons8-gym-ios-16-glyph-32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="images\icons8-gym-ios-16-glyph-16.png"
    />
    <link rel="stylesheet" href="css/index.css" />
  </head>

  <body>