<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Be-Fit Diet</title>
  </head>
  <body>
    <section id="contact" class="contact">
      <div class="container">
        <div>
          <iframe
            style="border: 0; width: 100%; height: 50.2rem"
            src="https://www.eatthismuch.com/"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </section>
  </body>
</html>
