<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="css/product.css" />
  </head>
  <body>
    <header>
      <nav>
        <i class="fa-solid fa-bars"></i>
        <h1 class="backhome">Be Fit</h1>
        <!-- <button>
          <a href="home"
            ><i class="fa fa-arrow-left" aria-hidden="true"></i>
          </a>
        </button> -->
        <div class="nav-right">
          <div class="search-and-cart">
            <i class="fa-solid fa-cart-shopping">
              <div class="cart-red-dot"></div>
            </i>
            <h4 class="cart-notification">
              Product successfully added to cart
            </h4>
          </div>
          <div class="cart-modal-overlay">
            <div class="cart-modal">
              <h3 class="no-item-message"><br />Your cart is empty.</h3>
              <i class="close-cart-modal fa-regular fa-circle-xmark"></i>
              <!-- INSERT PRODUCT HERE -->
              <div class="cart-modal-bottom">
                <div class="total-price">
                  <h4>Total amount: <span>$0</span></h4>
                </div>
                <div>
                  <button class="checkout">
                    <svg
                      style="width: 24px; height: 24px"
                      viewBox="0 0 24 24"
                      id="cart"
                    >
                      <path
                        fill="#000000"
                        d="M17,18A2,2 0 0,1 19,20A2,2 0 0,1 17,22C15.89,22 15,21.1 15,20C15,18.89 15.89,18 17,18M1,2H4.27L5.21,4H20A1,1 0 0,1 21,5C21,5.17 20.95,5.34 20.88,5.5L17.3,11.97C16.96,12.58 16.3,13 15.55,13H8.1L7.2,14.63L7.17,14.75A0.25,0.25 0 0,0 7.42,15H19V17H7C5.89,17 5,16.1 5,15C5,14.65 5.09,14.32 5.24,14.04L6.6,11.59L3,4H1V2M7,18A2,2 0 0,1 9,20A2,2 0 0,1 7,22C5.89,22 5,21.1 5,20C5,18.89 5.89,18 7,18M16,11L18.78,6H6.14L8.5,11H16Z"
                      />
                    </svg>
                    <span>Checkout</span>
                    <svg
                      id="check"
                      style="width: 24px; height: 24px"
                      viewBox="0 0 24 24"
                    >
                      <path
                        stroke-width="2"
                        fill="none"
                        stroke="#ffffff"
                        d="M 3,12 l 6,6 l 12, -12"
                      />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="toggle-theme">
            <div class="toggler"></div>
          </div>
        </div>
        <div></div>
      </nav>
    </header>
    <main>
      <section class="product-by-category">
        <h2 class="heading">Products By Category</h2>
        <ul class="product-categories">
          <li>Whey</li>
          <li>Creatine</li>
          <li>PreWorkout</li>
          <li>Multivitamins</li>
        </ul>
        <div class="category-product">
          <!-- INSERT PRODUCT HERE -->
        </div>
      </section>
    </main>
  </body>
  <script src="js/product.js"></script>
</html>
