<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <script defer src="/your-path-to-fontawesome/js/v4-shims.js"></script>
    <!-- =============== CSS =============== -->
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"
    ></script>
    <title>Our Team</title>

    <!-- =============== FAVICON =============== -->

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/icons8-gym-ios-16-glyph-32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/icons8-gym-ios-16-glyph-16.png"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>

    <link
      href="/docs/5.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />

    <!-- Custom styles for this template -->
    <!--css file-->

    <link rel="stylesheet" href="css/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/plans.css" />
    <link rel="stylesheet" href="css/signin.css" />
  </head>
  <body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
      <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
      </div>
      <nav class="nav container">
        <a href="home" class="nav__logo">Be<span id="bold">FIT</span></a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="home" class="nav__link">Home</a>
            </li>
            <li class="nav__item">
              <a href="bmr" class="nav__link">BMR</a>
            </li>
            <li class="nav__item">
              <a href="plans" class="nav__link">Plans</a>
            </li>
            <li class="nav__item">
              <a href="product" class="nav__link" target="_blank">Products</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link active-link">Our team</a>
            </li>

            <li class="nav__item">
              <a href="/" class="nav__link"
                ><i class="fa fa-sign-out-alt" aria-hidden="true"></i
              ></a>
            </li>
            <i
              class="bx bx-toggle-left change-theme size"
              id="theme-button"
            ></i>
          </ul>
        </div>
        <!-- button toggle for smaller screens -->
        <div class="nav__toggle" id="nav-toggle">
          <i class="bx bx-grid-alt"></i>
        </div>
      </nav>
    </header>
    <h1 style="margin-top: 10%; text-align: center">
      Meet Our Professional Team
    </h1>

    <!-- Main workouts here  -->
    <section id="workout-goals">
      <div class="slider-container swiper">
        <div class="slider-content">
          <div class="card-wrapper swiper-wrapper">
            <div class="card swiper-slide">
              <div class="image-content">
                <span class="overlay"></span>
                <div class="card-image">
                  <img src="/images/samad.jpg" alt="" />
                </div>
              </div>
              <div class="card-content">
                <h2 class="name">Mahmoud Samad</h2>
                <p class="description">Be Fit Owner</p>
                <button class="button">Read More</button>
              </div>
            </div>

            <div class="card swiper-slide">
              <div class="image-content">
                <span class="overlay"></span>
                <div class="card-image">
                  <img src="images/IMG_4371.jpg" alt="" />
                </div>
              </div>
              <div class="card-content">
                <h2 class="name">Tony Kalalian</h2>
                <p class="description">Power Lifting Coach</p>
                <button class="button">Read More</button>
              </div>
            </div>

            <div class="card swiper-slide">
              <div class="image-content">
                <span class="overlay"></span>
                <div class="card-image">
                  <img src="images/hamada.jpeg" alt="" />
                </div>
              </div>
              <div class="card-content">
                <h2 class="name">Mahmoud Hamada</h2>
                <p class="description">Body Building Coach</p>
                <button class="button">Read More</button>
              </div>
            </div>

            <div class="card swiper-slide">
              <div class="image-content">
                <span class="overlay"></span>
                <div class="card-image">
                  <img src="images/nutrionist.jpeg" alt="" />
                </div>
              </div>
              <div class="card-content">
                <h2 class="name">Lydia Horkos</h2>
                <p class="description">Nutritionist</p>
                <button class="button">Read More</button>
              </div>
            </div>

            <div class="card swiper-slide">
              <div class="image-content">
                <span class="overlay"></span>
                <div class="card-image">
                  <img src="images/reem.jpg" alt="" />
                </div>
              </div>
              <div class="card-content">
                <h2 class="name">Reem Nachar</h2>
                <p class="description">Gymnastics Trainer</p>
                <button class="button">Read More</button>
              </div>
            </div>

            <div class="card swiper-slide">
              <div class="image-content">
                <span class="overlay"></span>
                <div class="card-image">
                  <img src="images/youssef.jpg" alt="" />
                </div>
              </div>
              <div class="card-content">
                <h2 class="name">Youssef Traboulsy</h2>
                <p class="description">Aerobics Trainer</p>
                <button class="button">Read More</button>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-pagination"></div>
        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
      </div>
    </section>
    <hr>
    <section>
    <br>
        <h1 style="text-align: center;">Subscribe to our Newsletter</h1>
        <form action="/news" method="post">
          <input
            type="text"
            name="fname"
            class="form-control top"
            placeholder="first name"
            required
            autofocus
          />
          <input
            type="text"
            name="lname"
            class="form-control middle"
            placeholder="last name"
            required
          />
          <input
            type="email"
            name="email"
            class="form-control bottom"
            placeholder="email"
            required
          />

          <button class="w-100 btn btn-lg btn-primary" id="color" type="submit">
            Subscribe
          </button>
        </form>
      </main>
    </section>
    <br><br><br>
    <footer class="footer section" id="footer">
      <div class="footer__container container grid">
        <div class="footer__content">
          <h2 id="footer-motivation">The best way to be healthy</h2>
        </div>

        <div class="footer__content">
          <h3 class="footer__title">Our Services</h3>
          <ul class="footer__links">
            <li>
              <a href="" class="footer__link">Support </a>
            </li>
            <li><a href="#" class="footer__link">Donate </a></li>
            <li><a href="#" class="footer__link">Report a bug</a></li>
            <li><a href="#" class="footer__link">Terms of Service</a></li>
          </ul>
        </div>

        <div class="footer__content">
          <h3 class="footer__title">Our Company</h3>
          <ul class="footer__links">
            <li><a href="#" class="footer__link">Blog</a></li>
            <li><a href="#" class="footer__link">Our mision</a></li>
            <li><a href="#" class="footer__link">Get in touch</a></li>
          </ul>
        </div>

        <div class="footer__content">
          <h3 class="footer__title">Community</h3>
          <ul class="footer__links">
            <li><a href="#" class="footer__link">Support</a></li>
            <li>
              <a href="" class="footer__link">Questions</a>
            </li>
            <li><a href="#" class="footer__link">Usage help</a></li>
          </ul>
        </div>

        <div class="footer__social">
          <a href="#" class="footer__social-link"
            ><i class="bx bxl-facebook-circle"></i
          ></a>
          <a href="" class="footer__social-link"
            ><i class="bx bxl-github"></i
          ></a>
          <a href="" class="footer__social-link"
            ><i class="bx bxl-instagram-alt"></i
          ></a>
        </div>
      </div>
      <p class="footer__copy">&#169 2023<br>All right reserved</p>
    </footer>
    <script src="js/main.js"></script>
    <script src="css/swiper/swiper-bundle.min.js"></script>

    <script src="js/plans.js"></script>
  </body>
</html>
