h2 .calculate-btn {
  font-weight: 900;
  font-size: x-large;
}

#bmr-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6rem 0;
}
.bmr-calculator {
  max-width: 300px;
  font-family: "Roboto", sans-serif;
  padding: 8px 24px;
  box-shadow: 0 4px 8px -3px #3c4048;
  border-color: #b2b2b2;
}

.bmr-calculator,
.bmr-calculator * {
  box-sizing: border-box;
}
input[type="radio"] {
  accent-color: #3c4048;
}
.bmr-calculator h2 {
  text-align: center;
  background: #eaeaea;
  color: #3c4048;
  font-weight: 100;
  margin: -8px -24px;
  margin-bottom: 8px;
  padding: 16px;
}

.bmr-calculator form h3 {
  font-size: 15px;
  text-transform: uppercase;
  margin: 16px 0 10px 0;
  color: #3c4048;
}

.bmr-calculator form input[type="text"] {
  width: 100%;
  padding: 4px 16px;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid #eaeaea;
  color: #3c4048;
}

.bmr-calculator form input[type="text"].invalid {
  border: 1px solid #eaeaea;
}

.bmr-calculator form {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.bmr-calculator form #female {
  margin-left: 20px;
}

.bmr-calculator form .height,
.bmr-calculator form .weight {
  position: relative;
}

.bmr-calculator form .unit {
  position: absolute;
  right: 20px;
  top: 50px;
  color: #3c4048;
}

.bmr-calculator .result .calculate-btn {
  padding: 8px 24px;
  margin: 16px 0;
  font-size: 18px;
  font-weight: 100;
  text-transform: uppercase;
  border: none;
  outline: none;
  background: #eaeaea;
  color: #3c4048;
  cursor: pointer;
  margin-bottom: 32px;
}

.bmr-calculator .result {
  text-align: center;
  color: #00abb3;
  font-size: 18px;
}

.bmr-calculator .result .calories {
  color: #00abb3;
  font-size: 38px;
  font-weight: 900;
  margin-right: 8px;
  vertical-align: middle;
}

.bmr-calculator .result .error-message {
  color: #b2b2b2;
  font-size: 14px;
  display: none;
}

.bmr-calculator .result .error-message.active {
  display: block;
}
#nutrifacts {
  background-color: #eaeaea;
  padding: 30px 0;
}

.nutri-title {
  font-size: 3rem;
  text-align: center;
  color: #3c4048;
  margin-bottom: 40px;
}

.containerx {
  max-width: 960px;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card {
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 30px;
}

.card-title {
  font-size: 2.5rem;
  font-weight: 500;
  color: #3c4048;
  margin-bottom: 20px;
  display: block;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.input-field {
  margin: 0 15px;
  flex-basis: 50%;
  position: relative;
}

input[type="text"],
input[type="number"] {
  border: none;
  border-bottom: 2px solid #b2b2b2;
  padding: 10px 5px;
  font-size: 1.6rem;
  width: 100%;
}

input[type="text"]:focus,
input[type="number"]:focus {
  outline: none;
  border-bottom: 2px solid #00abb3;
}

input[type="text"]:not(:placeholder-shown) + label,
input[type="number"]:not(:placeholder-shown) + label,
input[type="text"]:focus + label,
input[type="number"]:focus + label {
  top: -20px;
  font-size: 1.2rem;
  color: #00abb3;
}

button.btn {
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 10px 20px;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.clear-btn {
  color: #fff;
}

.add-btn {
  background-color: #00abb3;
  color: #fff;
}

.add-btn:hover {
  background-color: #007d8f;
}

.update-btn {
  background-color: #00abb3;
  color: #fff;
}

.update-btn:hover {
  background-color: #cc7700;
}

.delete-btn {
  background-color: #ff3b30;
  color: #fff;
}

.delete-btn:hover {
  background-color: #c80000;
}

.back-btn {
  background-color: #b2b2b2;
  color: #fff;
}

.back-btn:hover {
  background-color: #8c8c8c;
}

.collection-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Input field style */
.input-field {
  margin: 0 15px;
  flex-basis: 50%;
  position: relative;
}

.input-field input[type="text"],
.input-field input[type="number"] {
  border: none;
  border-bottom: 2px solid #b2b2b2;
  padding: 10px 5px;
  font-size: 1.6rem;
  width: 100%;
}

.input-field input[type="text"]:focus,
.input-field input[type="number"]:focus {
  outline: none;
  border-bottom: 2px solid #00abb3;
}

.input-field label {
  position: absolute;
  top: 10px;
  left: 5px;
  font-size: 1.4rem;
  color: #b2b2b2;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-field input[type="text"]:focus ~ label,
.input-field input[type="number"]:focus ~ label,
.input-field input[type="text"]:not(:placeholder-shown) ~ label,
.input-field input[type="number"]:not(:placeholder-shown) ~ label {
  top: -10px;
  font-size: 1.2rem;
  color: #00abb3;
}

.input-field input[type="text"]:focus ~ span,
.input-field input[type="number"]:focus ~ span,
.input-field input[type="text"]:not(:placeholder-shown) ~ span,
.input-field input[type="number"]:not(:placeholder-shown) ~ span {
  top: -10px;
  font-size: 1.2rem;
  color: #00abb3;
}

.input-field span {
  position: absolute;
  top: 10px;
  left: 5px;
  font-size: 1.4rem;
  color: #b2b2b2;
  transition: all 0.3s ease;
  pointer-events: none;
}
